@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a202c; /* Dark mode background */
  color: #f7fafc; /* Dark mode text color */
}

body.dark {
  background-color: #f7fafc; /* Light mode background */
  color: #1a202c; /* Light mode text color */
}
